body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272727;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

select, button {
    cursor: pointer;
}

button {
    background-color: #7500b8;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

button:hover {
    background-color: #59028b;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #7500b8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
